* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --display: #38393d;
    --darkbg: #1f1f1f;
    --keys: #28282a;
    --lightblue: #004a77;
    --darkblue: #0742a0;
    --greenbg: #105324;
    --font: #d1effe;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    aspect-ratio: 1 / 1.4705;
    border-radius: 20px;
    border: 1px solid var(--font);
    -webkit-box-shadow: -1px 1px 20px 3px rgb(41 51 106 / 75%);
    -moz-box-shadow: -1px 1px 20px 3px rgb(41 51 106 / 75%);
    box-shadow: -1px 1px 20px 3px rgb(41 51 106 / 75%);
    background-color: var(--darkbg);
}

.display {
    width: 100%;
    height: 20%;
    background-color: var(--display);
    text-align: right;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    cursor: default;
    outline: none;
    border: none;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 80%;
    padding: 20px;
    background-color: var(--darkbg);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    -webkit-user-select: none;
    user-select: none;
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--font);
    cursor: pointer;
    transition: border-radius ease-out 0.5s;
}

.bglightblue {
    background-color: var(--lightblue);
}

.bgblack {
    background-color: var(--keys);
}

.bggreen {
    background-color: var(--greenbg);
}

.equal {
    background-color: var(--darkblue);
}

@media (max-width:480px) {
    .calculator-body {
        height: 65vh;
    }

    button {
        font-size: 1.1rem;
    }
}

button:hover {
    border-radius: 25%;
    border: 1px solid var(--font);
    opacity: 0.8;
}

.bglightblue:hover {
    background-color: #408cba;
}

.bgblack:hover {
    background-color: var(--display);
}

.bggreen:hover {
    background-color: #34855f;
}

.equal:hover {
    background-color: #1453b9;
}